.firstNewClient{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding:  0.625rem 0.625rem 0.875rem 0.625rem;

    font-size: 95%;
}

.tabNewClient{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding:  0.625rem 0.625rem 0.875rem 0.625rem;
    gap: 1rem;

    font-size: 95%;
}