<div class="pageContent">
  <div class="firstRowEditClient tableShadow">
    <div class="col-sm-1">
      <label class="form-label">Código</label>
      <input id="idCodeClient" type="text" class="form-control" disabled />
    </div>

    <div class="col-sm-1">
      <label class="form-label">Cadastro</label>
      <select id="idSelectTypeRegistration" class="form-select" type="select">
        <option value="{1}">Cliente</option>
        <option value="{2}">Fornecedor</option>
        <option value="{3}">Cliente/Fornecedor</option>
        <option value="{4}">Transportadora</option>
        <option value="{5}">Funcionário</option>
      </select>
    </div>

    <div class="col-sm-1">
      <label class="form-label">Pessoa</label>
      <select id="idSelecTypePerson" class="form-select" type="select">
        <option value="{1}">Fisica</option>
        <option value="{2}">Juridica</option>
      </select>
    </div>

    <div class="col-sm-5">
      <label class="form-label">Nome</label>
      <input id="idInputNameClient" type="text" class="form-control" />
    </div>

    <div class="col-sm-2">
      <label class="form-label">CPF</label>
      <input id="inputCpf" type="number" class="form-control" />
    </div>

    <div class="col-sm-1">
      <label class="form-label">Ativo</label>
      <select id="idActiveClient" class="form-select" type="select">
        <option value="{1}">Sim</option>
        <option value="{2}">Não</option>
      </select>
    </div>
  </div>

  <mat-tab-group animationDuration="0ms">
    <mat-tab label="Principal">
      <div class="column">
        <div class="tabEditClient">
          <div class="col-sm-2">
            <label class="form-label">Tipo Cliente</label>
            <select id="typeClient" class="form-select" type="select">
              <option value="{1}">Contribuinte</option>
              <option value="{2}">Não Contribuinte</option>
              <option value="{3}">Produtor Rural</option>
            </select>
          </div>

          <div class="col-sm-2">
            <label class="form-label">Data Nascimento</label>
            <input id="DateBirth" type="date" class="form-control" />
          </div>

          <div class="col-sm-3">
            <label class="form-label">Nome Curto</label>
            <input id="shortName" type="text" class="form-control" />
          </div>

          <div class="col-sm-1">
            <label class="form-label">Alterar Nome</label>
            <select id="alterName" class="form-select" type="select">
              <option value="{1}">Sim</option>
              <option value="{2}">Não</option>
            </select>
          </div>

          <div class="col-sm-1">
            <label class="form-label">RG</label>
            <input id="rgClient" type="number" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Fone</label>
            <input id="numberFone" type="number" class="form-control" />
          </div>
        </div>
        <div class="tabEditClient">
          <div class="col-sm-2">
            <label class="form-label">Celular</label>
            <input id="numberCel" type="number" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Tipo de Venda</label>
            <select id="typeSale" class="form-select" type="select">
              <option value="{1}">Somente Venda</option>
              <option value="{2}">Somente Atacado</option>
              <option value="{3}">Venda ou Atacado</option>
            </select>
          </div>

          <div class="col-sm-2">
            <label class="form-label">Desconto Automático</label>
            <input id="discountClient" type="number" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Crédito Disponivel</label>
            <input id="numberFone" type="number" class="form-control" />
          </div>

          <div class="col-sm-3">
            <label class="form-label">Grupo</label>
            <select id="typeSale" class="form-select" type="select">
              <option value="{1}">Teste Web</option>
              <option value="{2}">Teste Front</option>
            </select>
          </div>
          <div>
            <button class="addGroup">+</button>
          </div>
        </div>
        <div class="tabEditClient observationsDetails col-sm-12">
          <div id="accompaniments" class="widhtObs">
            <table class="table table-striped tableShadow tablePadding">
              <thead>
                <tr>
                  <th scope="col">Endereço</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Fixed</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="annotations" class="widhtObs">
            <table class="table table-striped tableShadow tablePadding">
              <thead>
                <tr>
                  <th scope="col">Contato</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>Fixed</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Financeiro">
      <div class="tabEditClient">
        <div class="col-sm-2">
          <label class="form-label">Núm. Banco</label>
          <input id="numberBank" type="number" class="form-control" />
        </div>

        <div class="col-sm-3">
          <label class="form-label">Nome Banco</label>
          <input id="nameBank" type="text" class="form-control" />
        </div>

        <div class="col-sm-2">
          <label class="form-label">Agência</label>
          <input id="numberAgenc" type="number" class="form-control" />
        </div>

        <div class="col-sm-2">
          <label class="form-label">Núm. Conta</label>
          <input id="numberAcount" type="number" class="form-control" />
        </div>

        <div class="col-sm-2">
          <label class="form-label">Tipo de Conta</label>
          <select id="typeAcount" class="form-select" type="select">
            <option value="{1}">Corrente</option>
            <option value="{2}">Poupança</option>
            <option value="{3}">Salário</option>
          </select>
        </div>
      </div>

      <div class="tabEditClient">
        <div class="col-sm-2">
          <label class="form-label">Data Conta</label>
          <input id="dateAcount" type="date" class="form-control" />
        </div>

        <div class="col-sm-3">
          <label class="form-label">Fone Agência</label>
          <input id="foneAgenc" type="number" class="form-control" />
        </div>
      </div>

      <div class="tabEditClient">
        <div class="col-sm-12">
          <label class="form-label">Observação Banco</label>
          <textarea id="obsBank" class="form-control"></textarea>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Pessoais">
      <div class="column">
        <div class="tabEditClient">
          <label class="form-label fontBold">Dados Pessoais</label>
        </div>
        <div class="tabEditClient">
          <div class="col-sm-2">
            <label class="form-label">Sexo</label>
            <select
              id="sexClients"
              class="form-select"
              type="select"
              (change)="onSelectSexo($event)"
            >
              <option *ngFor="let sex of sexos | keyvalue" [value]="sex.key">
                {{ sex.value }}
              </option>
            </select>
          </div>

          <div class="col-sm-2">
            <label class="form-label">Estado Civil</label>
            <select
              id="maritalStatus"
              class="form-select"
              type="select"
              (change)="onSelectEstadoCivil($event)"
            >
              <option
                *ngFor="let marital of estadoCivil | keyvalue"
                [value]="marital.key"
              >
                {{ marital.value }}
              </option>
            </select>
          </div>

          <div class="col-sm-2">
            <label class="form-label">Naturalidade</label>
            <input id="naturalityClient" type="text" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">UF</label>
            <select
              id="estado"
              class="form-select"
              type="select"
              (change)="onSelectEstado($event)"
            >
              <option
                *ngFor="let estado of estadosBrasil | keyvalue"
                [value]="estado.key"
              >
                {{ estado.value }}
              </option>
            </select>
          </div>

          <div class="col-sm-1">
            <label class="form-label">Dependentes</label>
            <input id="dependents" type="number" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Data Casamento</label>
            <input id="weddingDate" type="date" class="form-control" />
          </div>
        </div>

        <div class="tabEditClient">
          <div class="col-sm-4">
            <label class="form-label">Nome Pai</label>
            <input id="fathersName" type="text" class="form-control" />
          </div>

          <div class="col-sm-3">
            <label class="form-label">Nome Mãe</label>
            <input id="mothersName" type="text" class="form-control" />
          </div>

          <div class="col-sm-4">
            <label class="form-label">Nome Cônjuge</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>
        </div>

        <div class="tabEditClient">
          <label class="form-label fontBold">Dados Profissão</label>
        </div>

        <div class="tabEditClient">
          <div class="col-sm-4">
            <label class="form-label">Nome Empresa</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">CNPJ</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Fone</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Data Admissão</label>
            <input id="spousesName" type="Date" class="form-control" />
          </div>

          <div class="col-sm-1">
            <label class="form-label">Ocupação</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>
        </div>

        <div class="tabEditClient">
          <div class="col-sm-4">
            <label class="form-label">Cargo</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Renda Mensal</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Outras Rendas</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">CEP</label>
            <input id="spousesName" type="number" class="form-control" />
          </div>

          <div class="col-sm-1">
            <label class="form-label">Bairro</label>
            <input id="spousesName" type="text" class="form-control" />
          </div>
        </div>

        <div class="tabEditClient">
          <div class="col-sm-4">
            <label class="form-label">Endereço</label>
            <input id="address" type="text" class="form-control" />
          </div>

          <div class="col-sm-2">
            <label class="form-label">Número</label>
            <input id="addressNumber" type="number" class="form-control" />
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Observações">
      <div class="tabEditClient">
        <div class="col-sm-12">
          <label class="form-label">Observação NF-e</label>
          <textarea id="obsNfe" class="form-control styleTextArea"></textarea>
        </div>
      </div>
      <div class="tabEditClient">
        <div class="col-sm-12">
          <label class="form-label">Observação Venda</label>
          <textarea id="obsSales" class="form-control styleTextArea"></textarea>
        </div>
      </div>

      <div class="tabEditClient observationsDetails col-sm-12">
        <div id="accompaniments" class="widhtObs">
          <table class="table table-striped tableShadow tablePadding">
            <thead>
              <tr>
                <th scope="col">Acompanhamentos</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Fixed</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div id="annotations" class="widhtObs">
          <table class="table table-striped tableShadow tablePadding">
            <thead>
              <tr>
                <th scope="col">Anotações</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Fixed</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
