<div class="pageContent">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/clients">
        <img
          src="https://desenvolvimento.maxdata.com.br/assets/imagens/login/MaxWEB.svg"
          alt="MaxData"
          style="max-width: 186px; height: auto"
        />
      </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <span class="nav-link titleSpan" aria-current="page">Edição</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="firstRowEditClient tableShadow">
    <div class="row firstNewClient col-sm-12">
      <div class="col-sm-1">
        <label class="form-label">Código</label>
        <input
          id="idCodeClientEdit"
          type="number"
          class="form-control"
          disabled
          [(ngModel)]="codigo"
        />
      </div>

      <div class="col-sm-2">
        <label class="form-label">Cadastro</label>
        <select
          id="idSelectTypeRegistrationEdit"
          class="form-select"
          type="select"
          [(ngModel)]="register"
          (change)="onSelectionChange($event, 'selectedTypeRegisterEdit')"
        >
          <option
            *ngFor="let typeRegister of typeRegisterEdit"
            [value]="typeRegister.value"
          >
            {{ typeRegister.viewValue }}
          </option>
        </select>
      </div>

      <div class="col-sm-2">
        <label class="form-label">Pessoa</label>
        <select
          id="idSelecTypePersonEdit"
          class="form-select"
          type="select"
          [(ngModel)]="person"
          (change)="onSelectionChange($event, 'selectedTypePersonEdit')"
        >
          <option
            *ngFor="let typePerson of typePersonEdit"
            [value]="typePerson.value"
          >
            {{ typePerson.viewValue }}
          </option>
        </select>
      </div>

      <div class="col-sm-3">
        <label class="form-label">Nome</label>
        <input
          id="idInputNameClientEdit"
          type="text"
          class="form-control"
          [(ngModel)]="name"
        />
      </div>

      <div class="col-sm-2">
        <label class="form-label">CPF</label>
        <input
          id="inputCpfEdit"
          type="text"
          class="form-control"
          [(ngModel)]="cpf"
        />
      </div>

      <div class="col-sm-1">
        <label class="form-label">Ativo</label>
        <select
          id="idActiveClientEdit"
          class="form-select"
          type="select"
          [(ngModel)]="ativeStatus"
        >
          <option value="true">Sim</option>
          <option value="false">Não</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <div class="column tableShadow">
      <div class="tabEditClient">
        <label class="form-label fontBold">Principal</label>
        <mat-divider></mat-divider>
      </div>
      <div class="row firstNewClient col-sm-12">
        <div class="col-sm-2">
          <label class="form-label">Tipo Cliente</label>
          <select
            id="typeClientEdit"
            class="form-select"
            type="select"
            [(ngModel)]="typeClient"
            (change)="onSelectionChange($event, 'selectedTypeClientEdit')"
          >
            <option
              *ngFor="let typeClient of typeClientEdit"
              [value]="typeClient.value"
            >
              {{ typeClient.viewValue }}
            </option>
          </select>
        </div>

        <div class="col-sm-6">
          <label class="form-label">Nome Curto</label>
          <input
            id="shortNameEdit"
            type="text"
            class="form-control"
            [(ngModel)]="shortName"
            placeholder="Não informado"
          />
        </div>

        <div class="col-sm-2">
          <label class="form-label">Alterar Nome</label>
          <select
            id="alterNameEdit"
            class="form-select"
            type="select"
            [(ngModel)]="alterName"
          >
            <option value="false">Não</option>
            <option value="true">Sim</option>
          </select>
        </div>

        <div class="col-sm-2">
          <label class="form-label">RG</label>
          <input
            id="rgClientEdit"
            type="number"
            min="0"
            class="form-control"
            [(ngModel)]="rg"
            placeholder="Não informado"
          />
        </div>
      </div>
      <div class="row firstNewClient col-sm-12">
        <div class="col-sm-2">
          <label class="form-label">Fone</label>
          <input
            id="numberFoneEdit"
            type="number"
            min="0"
            class="form-control"
            [(ngModel)]="fone"
            placeholder="Não informado"
          />
        </div>

        <div class="col-sm-2">
          <label class="form-label">Celular</label>
          <input
            id="numberCelEdit"
            type="number"
            min="0"
            class="form-control"
            [(ngModel)]="cell"
            placeholder="Não informado"
          />
        </div>

        <div class="col-sm-2">
          <label class="form-label">Desconto Automático</label>
          <input
            id="discountClientEdit"
            type="number"
            min="0"
            class="form-control"
            [(ngModel)]="automaticDesc"
            placeholder="Não informado"
          />
        </div>
      </div>
      <div class="row firstNewClient col-sm-12">
        <label class="form-label fontBold">Endereço</label>
      </div>
      <div class="row firstNewClient col-sm-12">
        <div class="col-sm-2">
            <label for="basic-url" class="form-label">CEP *</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="basic-url"
                aria-describedby="basic-addon3 basic-addon4"
                min="0"
                [(ngModel)]="cep"
              />
              <span
                class="input-group-text"
                id="basic-addon3"
                (click)="handleCEP()"
              >
                <mat-icon fontIcon="search"></mat-icon>
              </span>
            </div>
          </div>

        <div class="col-sm-2">
          <label class="form-label">Estado UF</label>
          <input
            id="stateUFEdit"
            class="form-control"
            type="text"
            disabled
            [(ngModel)]="stateUF"
          />
        </div>

        <div class="col-sm-2">
          <label class="form-label">Municipio</label>
          <input
            id="nameCityEdit"
            type="text"
            class="form-control"
            disabled
            [(ngModel)]="mun"
          />
        </div>

        <div class="col-sm-6">
          <label class="form-label">Endereço *</label>
          <input
            id="nameCityEdit"
            type="text"
            class="form-control"
            [(ngModel)]="adress"
          />
        </div>
      </div>

      <div class="row firstNewClient col-sm-12">
        <div class="col-sm-2">
          <label class="form-label">Bairro *</label>
          <input
            id="neighborhoodEdit"
            type="text"
            class="form-control"
            [(ngModel)]="neighborhood"
          />
        </div>

        <div class="col-sm-2">
          <label class="form-label">Número *</label>
          <input
            id="numberAddressEdit"
            type="number"
            min="0"
            class="form-control"
            [(ngModel)]="number"
            placeholder="Não informado"
          />
        </div>

        <div class="col-sm-2">
          <label class="form-label">I.E Prod. Rural</label>
          <input
            id="prodRuralIEEdit"
            type="text"
            class="form-control"
            [(ngModel)]="ieProdRural"
            placeholder="Não informado"
          />
        </div>

        <div class="col-sm-6">
          <label class="form-label">Descrição *</label>
          <input
            id="descriptionEdit"
            type="text"
            class="form-control"
            [(ngModel)]="description"
            placeholder="Não informado"
          />
        </div>
      </div>
      <div class="flexEnd actionsButtons">
        <button class="disableButton">Desativar</button>
        <button class="confirmButton">Salvar</button>
      </div>
    </div>
  </div>
</div>
