.searchBy{
    display: flex;
    flex-direction: row;
    gap: 0.938rem;
    padding:  0.625rem 0.625rem 0.875rem 0.625rem;

    align-items: flex-end;

    font-size: 95%;

    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: .5px .5px 5px 0px rgba(0, 0, 0, .2);
}

.descriptionTotal{
    padding-top: 0.625rem;
}

#searchButton{
    background-color: var(--grey-7);
    border-color: var(--grey-7);
}
