.searchBy{
    display: flex;
    flex-direction: row;
    gap: 2.188rem;
    padding: 1.563rem 0rem;

    justify-content: center;
    align-items: flex-end;

    font-size: 95%;

    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: .5px .5px 5px 0px rgba(0, 0, 0, .2);
}

#searchButton{
    background-color: var(--grey-7);
    border-color: var(--grey-7);
}
