:root {
    --green: #22845c;
    --green-2: #edf7f4;
    --green-3:  #468847;
    --green-4:  #e8f4ef;
    --green-button: #34996f;

    --silver: #cccccc26;
    --silver-2: #848484;
    --silver-3: #333333;
    --silver-4: #f4f4f4;
    --silver-5: #575757;
    --silver-6: #D8D2D2;
    --silver-border: #cccccc7a;
    --silver-background: #cccccc26;
    --silver-text: #777777;
    --silver-border-shadow: #3333337a;
    --silver-7: #9e9e9e;
    --silver-8: #ccc;
    --silver-10: #bbb;
    --silver11: #3c3b3b;
  

    --grey: #999999;
    --grey-2: #e8f4ef;
    --grey-3: #e9f1ee;
    --grey-4: #f4f7f6;
    --grey-5: #f7f7f7;
    --grey-forwarded: #a9a9a9;
    --grey-insufficient: #c6c6c6;
    --grey-loader: #e6e6e6;
    --grey-6: #36454f;
    --grey-7: #495057;
    --grey-8: #d3d3d3;
  
    --red: #f21535;
    --red-delete: #dc3545;
    --red-2: #ffdfdf;
    --red-3: #FE4E26;
    --red-4: #FF2D29;
    --red-5: #ff00001a;
    --red-6: #fef4f4;

    --black: #000000;

    --orange-block: #ee6262;
    --orange-1: #ec7823;

    --yellow: #f5cc18;
    --yellow-1: #f1dd00;
    --yellow-alert: #ebc419;
    --yellow-2: #EBDE68;
    --yellow-3: #fffdef;
  
    --white: #ffffff;
    --white-2: #ddd;
    --white-3: #fcfcfcc9;
    --white-4: #f5f5f5;
    --white-5: #f1f1f1;
    --white-6: #FCFCEB;
    --white-7: #EDF7F4;
  
    --blue: #007bff;
    --blue-2: #0016FF;
    --blue-3: #00a8ff;
  }
